version: '3.9'

services:
  back-end:
    build: .
    container_name: backend_server
    ports:
      - "3000:3000"
    env_file:
      - .env
    labels:
      - traefik.enable=true

      # ROUTER →
      - traefik.http.routers.backend.rule=Host(`api.devbydilip.cloud`)
      - traefik.http.routers.backend.entrypoints=web,websecure
      - traefik.http.routers.backend.tls=true
      - traefik.http.routers.backend.tls.certresolver=mytlschallenge

      # SERVICE →
      - traefik.http.services.backend.loadbalancer.server.port=3000

      # MIDDLEWARE (HTTPS + security headers)
      - traefik.http.middlewares.backend-force-secure.redirectscheme.scheme=https
      - traefik.http.routers.backend.middlewares=backend-force-secure@docker

      # Allow cookies to pass through (VERY IMPORTANT)
      - traefik.http.middlewares.backend-headers.headers.stsSeconds=31536000
      - traefik.http.middlewares.backend-headers.headers.accessControlAllowCredentials=true
      - traefik.http.routers.backend.middlewares=backend-force-secure@docker,backend-headers@docker

    networks:
      - traefik

    restart: unless-stopped

networks:
  traefik:
    external: true
    name: root_default
