version: '3.9'

services:
  back-end:
    build: .
    container_name: backend_server

    # ❗ REMOVE THIS — Traefik must handle ports
    # ports:
    #   - "3000:3000"

    env_file:
      - .env

    labels:
      - traefik.enable=true
      - traefik.http.routers.backend.rule=Host(`api.devbydilip.cloud`)
      - traefik.http.routers.backend.entrypoints=websecure
      - traefik.http.routers.backend.tls=true
      - traefik.http.routers.backend.tls.certresolver=mytlschallenge
      - traefik.http.services.backend.loadbalancer.server.port=3000

    networks:
      - traefik

    restart: unless-stopped

networks:
  traefik:
    external: true
    name: root_default
